torch>=2.0.0
torchvision>=0.15
pytorch-lightning
omegaconf
rasterio
rioxarray
xarray
geopandas
opencv-python
opencv-python-headless
opencv-contrib-python
opencv-contrib-python-headless
tifffile
webcolors
Pillow
seaborn
xgboost
tiler
segmentation-models
pytest
coveralls
rtree
sphinx
sphinx_rtd_theme
yacs
termcolor
numba
segmentation-models-pytorch
joblib
GDAL>=3.3.0
coverage
deepspeed
