omegaconf
rasterio
rioxarray
xarray
geopandas
tensorflow_probability
opencv-python
opencv-python-headless
opencv-contrib-python
opencv-contrib-python-headless
tifffile
webcolors
Pillow
seaborn
xgboost
tiler
segmentation-models
pytest
coveralls
rtree
sphinx
sphinx_rtd_theme
GDAL==`ogrinfo --version | grep -Eo '[0-9]\.[0-9]\.[0-9]+'`