torch>=2.0.0
torchvision>=0.15
lightning
datasets
rasterio
rioxarray
xarray
geopandas
tifffile
webcolors
tiler
pytest
coveralls
rtree
sphinx
sphinx_rtd_theme
yacs
termcolor
numba
segmentation-models-pytorch
joblib
timm
deepspeed
GDAL>=3.3.0
coverage
deepspeed
webdataset
torchgeo
